.header-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    color: gray;
    cursor: pointer;
}

.header-icons:hover{
    color: black;
}

.header-icons--icon{
   width: 3rem!important;
   height: 3rem!important;
}

.header-icons--avator{
    object-fit: contain;
    height: 3rem!important;
    width: 3rem!important;
}

.header-icons__title{
    font-size: 1.4rem;
    font-weight: 400;
}